<?xml version="1.0" encoding="UTF-8"?>{# Avoid white spaces
#}<svg{#
    #} xmlns="http://www.w3.org/2000/svg"{#
    #} version="1.1" baseProfile="full"{#
    #} width="100px" height="100px" viewBox="0 0 100 100"{#
#}>{#
    #}<g>{#
        #}<rect id="background" x="0" y="0" width="100" height="100" fill="#{{ color.background }}"/>{#
        #}<polygon id="triangle" points="10,50 50,0 90,50" fill="#{{ color.foreground }}" />{#
        #}<text x="0" y="70"{#
            #} style="font-size:15px; font-family:Tahoma; text-align:center; line-height:100%; fill:#{{ color.foreground }};"{#
            #} xml:space="preserve"{#
        #}>{{ text }}</text>{#
    #}</g>{#
#}</svg>
